*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home {
	background-image: url("IMG5.jpg");
}

button {
    font-family: 'Questrial', sans-serif;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

.menu {
  border: 1pt;
  border-color: white;
}

nav {
  flex: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links a:hover {
  background-color: #f099b9;
  color: white;
  height: 100%;
  width: 100%;
}

.nav-link {
  color: #f099b9;
  font-size: 18px;
  text-decoration: none;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.reproach {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}

.introduction {
  flex: 5; 
  margin: auto;
  text-align: center;
}

.intro-text h1{
  font-size: 66px;
  font-weight: 500;
  color: gainsboro;
}

.intro-text h2{
  font-size: 100px;
  font-weight: 500;
  color: gainsboro;
}

.intro-text p{
  margin-top: 10px;
  font-size: 13px;
  color: gainsboro;
}

.intro-text p2{
  margin-top: 10px;
  font-size: 22px;
  color: black;
}

.cta {
  padding: 100px 0px 0px 0px; 
}

.cta-select {
  border: 2px solid #f099b9; 
  background: transparent;
  color: #f099b9;
 padding: 20px;
  cursor: pointer; 
  font-size: 16px;
  color: #f099b9; 
}

footer {
  font-family: 'Questrial', sans-serif;
  font-size: 13px;
  text-align: center;
  color: gainsboro;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em; 
}

.banner {
  display: block;
  height: 35vh;
  border: solid black 1px;
  background-image: url("IMG4.jpg");
  background-size: 100%; 
}

.banner > .banner-image {
  display: block;
  height: fit-content;
  width: fit-content;
  position: center;
}

.texttitle {
	align-items: center;
	margin-top: 200px;
}